*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI';
    display: flex;
    gap: 5rem;
    padding: 0 5rem;
    overflow: hidden;
}
h3{
    margin: 1rem 0;
}
.student{
    margin: 0;
    display: flex;
    border: 1px solid gray;
    box-sizing: border-box;
    padding: 0.6rem 2rem;
    border-radius: 3px;
    justify-content: space-between;
}
.danh-sach{
    width: 70%;
}
.filter{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 30%;
    height: auto;
    box-sizing: border-box;
    padding-top: 5rem;
}
.filter button{
    height: 50px;
    font-size: 17px;
    width: auto;
    background-color: rgb(34, 98, 194);
    color: white;
    cursor: pointer;
    border: none;
    padding: 0.1rem 1rem;
    transition: all .25s;
}
.filter button:hover{
    transform: scale(1.05);
    background-color: rgb(26, 84, 170);
    color: white;
}